<.header>
  Edit City <%= @city.id %>
  <:subtitle>Use this form to manage city records in your database.</:subtitle>
</.header>

<.city_form changeset={@changeset} action={~p"/cities/#{@city}"} />

<.back navigate={~p"/cities"}>Back to cities</.back>
